@import "_reset.scss";
@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    background-color: $ligt-gray;
    display: flex;

    &__text-input {
        display: flex;
        flex-direction: column;
        margin: auto;

        & h1 {
            font-size: 30px;
            color: $dark-blue;
        }

        & textarea {
            background-color: transparent;
            outline: transparent;
            border: 0;
            width: 800px;
            height: 440px;
            font-size: 26px;
            color: $dark-blue;
            margin-top: 60px;
            &::placeholder{
                color: $dark-blue;
            }
        }

        &--instructions {
            display: flex;
            align-items: center;
            margin: 16px 0;

            & span {    
                font-size: 12px;
                color: $dark-gray;
                margin-left: 8px;
            }
        }

        &--buttons{
            display: flex;
            justify-content: space-between;
        }

        &--buttons-button {
            width: 340px;
            height: 60px;
            border-radius: 24px;
            font-size: 14px;
            cursor: pointer;

            &.blue {
                width: 45%;
                background-color: $dark-blue;
                color: $white;
                border: 0;
                transition: 1s;
                &:hover {
                    background-color: darken($dark-blue, 20%);
                }
            }

            &.gray {
                width: 45%;
                background-color: $ligt-blue;
                color: $dark-blue;
                border: 1px solid $dark-blue;
                transition: 1s;
                &:hover {
                    background-color: lighten($ligt-blue, 30%);
                    }
                }
        }
    }
    &__text-output {
        width: 400px;
        height: 680px;
        margin: auto;
        

        &--face {
            width: 100%;
            height: 100%;
            border-radius: 32px;
            display: flex;
            flex-direction: column;
            background-color: $white;
            justify-content: center;
            align-items: center;

            &.front-face{
                display: flex;
            }

            &.back-face{
                display: none;
            }
        }

        & h2{
            font-size: 24px;
            font-weight: 700;
            color: $dark-gray;
            text-align: center;
            width: 336px;
            margin-top: 32px;
        }

        & p{
            font-size: 16px;
            width: 336px;
            text-align: center;
            margin-top: 16px;
        }

        &--face-button{
            color: $dark-blue;
            width: 340px;
            height: 60px;
            border-radius: 24px;
            font-size: 14px;
            background-color: $white;
            border: 1px solid $dark-blue;
            cursor: pointer;
            margin: auto;
            transition: 1s;
            &:hover {
                background-color: $ligt-blue;
            }
        }
    }
}

#text-back-face {
    font-size: 26px;
    color: $dark-blue;
    text-align: justify;
    margin: 50px 50px;
    width: 300px;
    height: 470px;
    word-break: break-word;
    overflow-y: auto;
}

@media (max-width: 1024px){
.container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 10px auto;

    &__text-input {
        width: 90vw;
        height: auto;
        margin:  auto;

        & textarea {
            width: 100%;
            height: 400px;
        }
    }

    &__text-output {
        width: 100%;
        height: 300px;
        margin: 10px auto;
        display: flex;
        justify-content: center;

        &--face {
            width: 90%;

            & img {
                display: none;
            }
        }

        & h2 {
            margin-top: 0px;
        }
    }
}
#text-back-face {
    font-size: 26px;
    color: $dark-blue;
    text-align: justify;
    margin: 0;
    width: 80vw;
    height: 200px;
    word-break: break-word;
}
}

@media (max-width: 520px){
    .container {
        margin: 10px auto;
        &__text-input {
    
            & h1{
                font-size: 23px;
            }
    
            & textarea {
                height: 300px;
                font-size: 19px;
                margin-top: 28px;
            }
    
            &--buttons-button {
                width: 200px;
                height: 50px;
            }
        }
    
        &__text-output {
    
    
            & h2 {
                font-size: 23px;
            }
    
            & p{
                font-size: 16px;
            }
    
            &--face-button{
                width: 200px;
                height: 50px;
            }
        }
    }
    #text-back-face {
        font-size: 26px;
        color: $dark-blue;
        text-align: justify;
        margin: 0;
        width: 80vw;
        height: 200px;
        word-break: break-word;
    }
    }