/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.container__text-input h1 {
  font-size: 30px;
  color: #0A3871;
}

.container__text-input textarea {
  background-color: transparent;
  outline: transparent;
  border: 0;
  width: 800px;
  height: 440px;
  font-size: 26px;
  color: #0A3871;
  margin-top: 60px;
}

.container__text-input textarea::-webkit-input-placeholder {
  color: #0A3871;
}

.container__text-input textarea:-ms-input-placeholder {
  color: #0A3871;
}

.container__text-input textarea::-ms-input-placeholder {
  color: #0A3871;
}

.container__text-input textarea::placeholder {
  color: #0A3871;
}

.container__text-input--instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.container__text-input--instructions span {
  font-size: 12px;
  color: #495057;
  margin-left: 8px;
}

.container__text-input--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__text-input--buttons-button {
  width: 340px;
  height: 60px;
  border-radius: 24px;
  font-size: 14px;
  cursor: pointer;
}

.container__text-input--buttons-button.blue {
  width: 45%;
  background-color: #0A3871;
  color: #FFFFFF;
  border: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.container__text-input--buttons-button.blue:hover {
  background-color: #020a13;
}

.container__text-input--buttons-button.gray {
  width: 45%;
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
  -webkit-transition: 1s;
  transition: 1s;
}

.container__text-input--buttons-button.gray:hover {
  background-color: white;
}

.container__text-output {
  width: 400px;
  height: 680px;
  margin: auto;
}

.container__text-output--face {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__text-output--face.front-face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__text-output--face.back-face {
  display: none;
}

.container__text-output h2 {
  font-size: 24px;
  font-weight: 700;
  color: #495057;
  text-align: center;
  width: 336px;
  margin-top: 32px;
}

.container__text-output p {
  font-size: 16px;
  width: 336px;
  text-align: center;
  margin-top: 16px;
}

.container__text-output--face-button {
  color: #0A3871;
  width: 340px;
  height: 60px;
  border-radius: 24px;
  font-size: 14px;
  background-color: #FFFFFF;
  border: 1px solid #0A3871;
  cursor: pointer;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.container__text-output--face-button:hover {
  background-color: #D8DFE8;
}

#text-back-face {
  font-size: 26px;
  color: #0A3871;
  text-align: justify;
  margin: 50px 50px;
  width: 300px;
  height: 470px;
  word-break: break-word;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  .container__text-input {
    width: 90vw;
    height: auto;
    margin: auto;
  }
  .container__text-input textarea {
    width: 100%;
    height: 400px;
  }
  .container__text-output {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__text-output--face {
    width: 90%;
  }
  .container__text-output--face img {
    display: none;
  }
  .container__text-output h2 {
    margin-top: 0px;
  }
  #text-back-face {
    font-size: 26px;
    color: #0A3871;
    text-align: justify;
    margin: 0;
    width: 80vw;
    height: 200px;
    word-break: break-word;
  }
}

@media (max-width: 520px) {
  .container__text-input h1 {
    font-size: 23px;
  }
  .container__text-input textarea {
    height: 300px;
    font-size: 19px;
    margin-top: 28px;
  }
  .container__text-input--buttons-button {
    width: 200px;
    height: 50px;
  }
  .container__text-output h2 {
    font-size: 23px;
  }
  .container__text-output p {
    font-size: 16px;
  }
  .container__text-output--face-button {
    width: 200px;
    height: 50px;
  }
  #text-back-face {
    font-size: 26px;
    color: #0A3871;
    text-align: justify;
    margin: 0;
    width: 80vw;
    height: 200px;
    word-break: break-word;
  }
}
/*# sourceMappingURL=styles.css.map */